[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
rope = "*"

[packages]
click = "*"
ali-cli = {editable = true,path = "."}
aliyun-python-sdk-core = "*"
aliyun-python-sdk-ros = "*"
colorama = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
